@font-face {
    font-family: "NiveauGroteskLight";
    src: url("../fonts/NiveauGroteskLight.otf") format("OpenType");
    font-weight: 100;
}

@font-face {
    font-family: "NiveauGroteskMedium";
    src: url("../fonts/NiveauGroteskMedium.otf") format("OpenType");
    font-weight: 500;
}