.intro {

  .but-premier {
    font-family: "Niveau Grotesk medium", "Helvetica Neue", sans-serif;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  .img-about-container {
    position: relative;
    text-align: center;
    margin-right: 10%;

    &__contenu-about {
      transform: scale(.8) translateY(1em);
      width: fit-content;
      clip-path: circle(10em);
    }

    &__fond {
      z-index: -1;
      position: absolute;
      top: 20%;
      right: 0;
    }
  }
}

.residences {
  margin-bottom: 10em;

  h1 {
    font-size: 4em;
    font-family: "Niveau Grotesk medium", sans-serif;
    margin-bottom: 1em;
  }

  .maisons-container {
    display: flex;
    justify-content: space-between;
    flex: 1;

    &__maison {
      text-align: center;

      h2 {
        font-family: "Niveau Grotesk medium", "Helvetica Neue", sans-serif;
        font-size: 2.5em;
        margin-bottom: .5em;
      }

      img {
        border-radius: 1.5em;
        width: 30em;
        margin-bottom: 2.5em;
      }


      ul {
        width: fit-content;
        list-style: "-";
        margin: 0 auto;
        font-family: "Niveau Grotesk light", "Helvetica Neue", sans-serif;
        font-size: $text-size;
      }
    }

    &__ligne-verticale {
      content: "";
      width: 5px;
      background-color: $dark-blue;
      border-radius: 1em;
    }
  }
}

.histoire {
  margin-bottom: 10em;

  h1 {
    font-size: 4em;
    font-family: "Niveau Grotesk medium", sans-serif;
    margin-bottom: 1em;
  }

  &__contenu {
    display: flex;
    justify-content: space-between;
    column-gap: 3.5em;

    &__texte {
      flex: 1.5;
      margin-top: 2em;

      p {
        line-height: 1.3em;
        font-family: "Niveau Grotesk light", "Helvetica Neue", sans-serif;
        font-size: $text-size;
      }

      p:first-of-type {
        margin-bottom: 1em;
      }
    }

    .img-histoire-container {
      flex: 1;
      position: relative;
      order: 1;

      &__photo-famille {
        transform: translate(10%, 0);
        width: 20em;
        clip-path: circle(10em);
        position: absolute;
        top: 10%;
        right: 15%;
      }

      &__fond {
        z-index: -1;
        position: absolute;
        top: 15%;
        right: 1%;
        width: 25em;
      }
    }
  }
}

.dons {
  margin-bottom: 7em;

  h1 {
    font-size: 4em;
    font-family: "Niveau Grotesk medium", sans-serif;
    margin-bottom: 1em;
  }

  .cartes-dons {
    display: flex;
    justify-content: space-between;
    column-gap: 3em;
    flex-wrap: wrap;

    &__materiel {
      color: white;
      flex: 1;
      background-color: $dark-blue;
    }

    &__financier {
      background-color: $carte-couleur;
      flex: 1;

      strong {
        font-family: "Niveau Grotesk medium", "Helvetica Neue", sans-serif;
      }

      p:first-of-type {
        margin-bottom: 1em;
      }

      p:nth-of-type(2) {
        margin-bottom: 3em;
      }

      p:nth-of-type(3) {
        margin-bottom: .5em;
      }
    }

    &__materiel, &__financier {
      padding: 5em 3em;
      border-radius: 1.5em;

      h2 {
        font-family: "Niveau Grotesk medium", "Helvetica Neue", sans-serif;
        font-size: 2.5em;
        margin-bottom: 1.5em;
      }

      p {
        font-family: "Niveau Grotesk light", "Helvetica Neue", sans-serif;
        font-size: $text-size;
        line-height: 1.3em;
        margin-bottom: 2em;
      }
    }
  }
}


@media (max-width: 620px) {
  .histoire{
    &__contenu{
      .img-histoire-container{
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .img-about-container {
    display: none;
  }
}

@media (max-width: 1024px) {
  .histoire {
    &__contenu {
      display: initial;

      &__texte {
        order: 1;
      }

      .img-histoire-container {
        height: 25em;

        &__photo-famille {
          top: -7%;
          right: 30%;
        }

        &__fond {
          top: 0;
          right: 22%;
        }
      }
    }
  }
}

@media(max-width: 1150px) {
  .residences {
    .maisons-container {
      flex-direction: column;
      row-gap: 4em;

      &__maison {
        div{
          width: 55%;
          margin: 0 auto;
          img{
            margin-bottom: 1em;
            width: 100%;
          }
        }
      }
    }
  }

  .dons{
    .cartes-dons{
      flex-direction: column;
      row-gap: 3em;
    }
  }
}



