html {
  background-color: #EFF5F5;
  scroll-behavior: smooth;
}

section {
  color: $dark-blue;
}

.btn-bleu, .btn-orange {
  display: inline-block;
  color: $white;
  font-family: Roca, serif;
  padding: 1em 2.5em;
  border-radius: 3em;
  font-size: 1.25em;
  text-decoration: none;
  transition: transform 98ms linear;
}

.btn-bleu:hover, .btn-orange:hover {
  transform: scale(1.1);
}

.btn-bleu {
  background-color: $dark-blue;
  margin-right: 1.875em;
}

.btn-orange {
  background-color: $orange;
}

.wrapper {
  padding-left: $wrapper;
  padding-right: $wrapper;
}

.mot-orange {
  color: $orange;
}

.intro {
  height: 78vh;
  display: flex;
  column-gap: 3.5em;
  padding-top: 5em;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Niveau Grotesk medium", sans-serif;
    font-size: $titre-de-page;
    margin-bottom: .3em;
  }

  p {
    font-family: "Niveau Grotesk light", sans-serif;
    font-size: 1.4375em;
    margin-bottom: 3em;
    line-height: 1.3em;
    width: 70%;
  }

  .img-container {
    position: relative;

    &__contenu {
      transform: translateX(-10%);
      width: fit-content;
      clip-path: path("M65.55,69.81C180-.75,142.46-22.11,223.07,25.61c80.6,47.72,153.73,115.38,110.49,214.24-43.24,98.85-137.64,205.55-234.49,150.74C2.22,335.76-48.91,140.36,65.55,69.81Z");
    }

    &__fond {
      z-index: -1;
      position: absolute;
      left: -15%;
      top: -2%;
    }
  }
}

.services {
  padding-bottom: 15em;

  &__flex {
    display: flex;
    column-gap: 2em;
  }

  h1 {
    font-family: "Niveau Grotesk medium", sans-serif;
    font-size: $titre-secondaire;
    margin-bottom: .5em;
  }

  .img-service {
    position: relative;
    width: 45em;

    &__contenu {
      transform: scale(.9) translate(5em, 2em);
      width: fit-content;
      clip-path: path("M164.27,10.81s86.73-34.59,128.07,19.98c41.46,92.48,57.44,240.2,10.73,294.19-99.22,100.95-99.34,95.64-223.81,94.29C-9.42,418.32-4.79,276.65,5.21,195.24c4.41-35.88,20.95-69.36,46.91-95.1C85.92,66.63,134.49,22.09,164.27,10.81Z");
    }

    &__fond {
      width: 28em;
      z-index: -1;
      position: absolute;
      top: 8%;
      left: 0;
    }
  }

  .text-container {
    align-content: center;

    &__services__text {
      &:first-of-type {
        margin-bottom: 3em;
      }

      h2 {
        font-family: "Niveau Grotesk medium", sans-serif;
        font-size: 2.5em;
        margin-bottom: .6em;
      }

      p {
        font-family: "Niveau Grotesk light", sans-serif;
        font-size: $text-size;
        max-width: 40em;
        margin-bottom: .56em;
      }

      a {
        font-family: "Niveau Grotesk medium", sans-serif;
        font-size: 1.4375em;
        color: $dark-blue;
        transition: .2s ease-in-out;
      }

      a:hover {
        color: $orange;
      }
    }
  }
}

.news {
  margin-bottom: 9.6875em;

  h1 {
    font-family: "Niveau Grotesk medium", sans-serif;
    font-size: $titre-secondaire;
    margin-bottom: 1em;
  }

  .cartes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 4%;
    grid-template-areas:
            "carte1 carte2 don"
            "carte3 carte4 don";

    &__carte {
      border-radius: 1em;
      padding: 2em;
      background-color: $carte-couleur;

      h2 {
        font-family: "Niveau Grotesk medium", sans-serif;
        font-size: 1.875em;
        margin-bottom: .5em;
      }

      p:first-of-type {
        font-family: "Niveau Grotesk medium", sans-serif;
        font-size: $text-size;
        color: $orange;
        margin-bottom: 2em;
      }

      p:last-of-type {
        font-family: "Niveau Grotesk light", sans-serif;
        font-size: $text-size;
        line-height: 1.3em;
      }
    }

    .carte1 {
      grid-area: carte1;
    }

    .carte2 {
      grid-area: carte2;
    }

    .carte3 {
      grid-area: carte3;
    }

    &__don {
      padding: 4em 1.5em 3em 1.5em;
      border-radius: 1em;
      grid-area: don;
      background-color: $dark-blue;
      text-align: center;

      img {
        width: 50%;
        margin-bottom: 2em;
      }

      h2 {
        font-family: "Niveau Grotesk medium", sans-serif;
        font-size: 3em;
        color: white;
        margin-bottom: 1em;
      }

      a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.2em;
        font-family: Roca, serif;
        color: white;
        padding: 1em 2em;
        background-color: $orange;
        border-radius: 3em;
        transition: 98ms ease-in-out;
      }

      a:hover {
        transform: scale(1.1);
      }
    }
  }
}

.benevolat {
  text-align: center;
  margin-bottom: 5em;

  h1 {
    font-size: $titre-de-page;
    font-family: "Niveau Grotesk medium", sans-serif;
    margin-bottom: .625em;
  }

  a {
    display: inline-block;
    font-family: Roca, Rockwell, serif;
    font-size: 1.875em;
    padding: .5em 2em;
    background-color: $orange;
    color: white;
    text-decoration: none;
    border-radius: 3em;
    transition: 98ms ease-in-out;
  }

  a:hover {
    transform: scale(1.1);
  }
}


@media (max-width: 1130px) {
  .wrapper{
    padding-left: $wrapper-mediaquery;
    padding-right: $wrapper-mediaquery;
  }
  .intro {
    flex-wrap: wrap;
    height: initial;
    padding-top: 10em;

    p {
      margin-bottom: 2em;
    }

    div:first-of-type {
      margin-bottom: 4em;
    }

    .img-container {
      margin: 0 auto;
    }
  }

  .services {
    padding-bottom: 5em;

    &__flex {
      flex-wrap: wrap;
    }

    .img-service {
      text-align: center;
      order: 1;
      margin: 0 auto;

      &__fond {
        left: 27%;
      }
    }
  }

  .news {
    .cartes-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
              "carte1 carte2"
              "carte3 carte4"
              "don don";

      &__don {
        img {
          width: 20%;
        }
      }
    }
  }
}