.hidden-title {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.header {
  background-color: #102C57;
  width: 100%;
  height: 6em;
  position: relative;

  .mobile-menu {
    position: absolute;
    top: 40%;
    right: 6%;

    &__container {
      display: flex;
      column-gap: 2em;

      ul {
        display: flex;
        column-gap: 2.5em;

        li {
          a {
            position: relative;
            font-family: "Niveau Grotesk", "Helvetica Neue", sans-serif;
            font-size: $text-size;
            color: white;
            text-decoration: none;
          }

          a:after {
            position: absolute;
            left: 10%;
            top: 110%;
            display: inline-block;
            background-color: white;
            content: "";
            height: 2px;
            width: 0;
            transition: .2s ease-in-out;
          }

          a:hover {
            &:after {
              width: 80%;
            }
          }
        }
      }
    }

    .nav-btn {
      transform: translateY(-6px);
      padding: .5em 2em;
      background-color: $orange;
      border-radius: 1em;
      font-family: Roca, Rockwell, serif;
      font-size: 1em;
      color: white;
      text-decoration: none;
      transition: 98ms ease-in-out;
    }

    .nav-btn:hover {
      transform: scale(1.1);
    }

    &__checkbox {
      display: none;
    }
  }

  &__icon {
    padding-left: 1.5em;
    padding-top: .8em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;

    a {
      z-index: 4;
      color: white;
      text-decoration: none;
    }
  }
}


@media (max-width: 1000px) {

  .header {
    position: absolute;
    top: 0;

    .mobile-menu {
      position: absolute;
      top: 20%;
      right: 2%;
      display: inline;
      z-index: 1;

      .nav-btn{
        transition: 98ms ease-in-out;
      }

      .nav-btn:hover{
        font-size: 1.1em;
      }

      &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 50px;
        cursor: pointer;
        transition: .4s;
        z-index: 2;
      }

      &__icon {
        display: block;
        position: relative;
        background: white;
        width: 85%;
        height: 5px;
        transition: .4s;
        border-radius: 30px;

        &::after,
        &::before {
          content: "";
          display: block;
          position: absolute;
          background: white;
          height: 5px;
          transition: .4s;
          border-radius: 30px;
        }

        &::after {
          width: 100%;
          top: 10px;
        }

        &::before {
          width: 100%;
          top: -10px;
        }
      }

      &__container {
        display: initial;
        padding-top: 25%;
        position: fixed;
        text-align: center;
        align-items: center;
        right: 0;
        top: 0;
        z-index: 1;
        width: 0;
        opacity: 1;
        transition: .5s;
        overflow: hidden;
        height: 100%;

        ul {
          display: initial;

          li {
            margin-bottom: 2em;
          }
        }
      }

      &__item {
        font-family: "Niveau Grotesk medium", sans-serif;
        right: 0;
      }

      &__checkbox {
        display: none;

        &:checked ~ {
          .mobile-menu {



            &__container {
              background-color: #102C57;
              height: 100%;
              width: 100%;
              transition-delay: 0s;
              top: 0;
              flex-direction: column;
              justify-content: center;
              font-size: 2em;
            }


            &__btn {
              position: fixed;
              right: 2%;

              .mobile-menu__icon {
                background: transparent;

                &::before,
                &::after {
                  top: 0;
                  left: -10%;
                  background-color: white;
                  width: 120%;
                }

                &::after {
                  transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                }

                &::before {
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
  }
}