.intro-mentions {
  padding-top: 2.5em;
  height: 30vh;
  font-family: "Niveau Grotesk medium", "Helvetica Neue", sans-serif;
  font-size: $titre-de-page;
}

.mentions-container {
  padding-bottom: 10em;
}

.mention {
  margin-bottom: 2em;

  h1 {
    font-family: "Niveau Grotesk medium", "Helvetica Neue", sans-serif;
    font-size: $titre-secondaire;
  }

  p {
    font-family: "Niveau Grotesk light", "Helvetica Neue", sans-serif;
    font-size: $text-size;
    line-height: 1.5em;
    max-width: 70%;
  }
}

@media (max-width: 620px) {
  .intro-mentions {
    font-size: 4em;
  }

  .mention {
    h1 {
      font-size: 3em;
    }

    p {
      max-width: unset;
      font-size: $text-size;
    }
  }
}